@font-face{font-family:inter;src:url(font/Inter-Regular.ttf)}
body,html{background-color:#f3f3f3!important;font-family:inter!important}
.block{display:block;}
.img-responsive {width: 100%;}
.row {--bs-gutter-x: 0;}
.project-templete{width:100%;background: #FFFFFF;margin:0 auto;padding:0;}
.project-templete .hero-content{padding:20px;padding-left:29px;padding-bottom:28px;padding-right:52px;}
.project-templete .heading{font-style: normal;font-weight: 600;padding-top: 31px;font-size: 48px;line-height: 125.52%;letter-spacing: -0.05em;color: #101828;min-height: 123px;text-align: left;}
.project-templete .heading2{font-style: normal;text-align: center;color: #141414;font-weight: 500;font-size: 38px;line-height: 130%;}
.project-templete h2{font-size: 48px;line-height: 125.52%;color: #101828;}
.project-templete p{font-size:20px;line-height:30px;font-style: normal;margin-bottom:15px;color: #545454;font-weight: 400;}
.project-templete .small-text{font-style: normal;font-weight: 500;font-size: 14px;line-height: 145.52%;letter-spacing: 0.02em;text-transform: uppercase;color: #1F1F1F;}
.project-templete a{text-decoration: none;}
.project-templete ul{padding-bottom:24px;padding-left: 16px;margin: 0;}
.project-templete ul li{font-style: normal;font-weight: 400;font-size: 13px;line-height: 16px;color: #545454;}
.project-templete ul.list-border-bottom li{list-style:none; border-bottom:1px solid #E2E2E2;margin-bottom: 30px;}
.project-templete ul.list-border-bottom .label-text{margin-top:8px;margin-bottom:4px;font-style: normal;font-weight: 400;font-size: 15px;line-height: 145.52%;color: #757575;}
.project-templete ul.list-border-bottom .value{margin-bottom:17px;font-style: normal;font-weight:500;font-size:18px;line-height: 140.52%;color: #141414;transform: rotate(0.01deg);}
.project-templete a.btn{font-style: normal;font-weight: 500;font-size: 14px;line-height:17px;letter-spacing: -0.02em;color: #FFFFFF !important; padding:6px 14px;border-radius: 0;}
.project-templete h4{font-style: normal;font-weight: 500;font-size:31px;line-height:44px;letter-spacing: -0.02em;color: #141414;}
.project-templete .read-more-link{font-weight: 400;font-style: normal;font-size: 18px;line-height: 154.02%;text-decoration: underline;color: #141414;}
.project-templete a:hover{color:inherit;}
.iconic-design .form-control{min-height: 43px;max-width:248px;padding: 10px 14px;background: #EEEEEE;margin-right:0px;border-radius: 0;color: #545454;font-style: normal;font-weight: 400;font-size: 16px;line-height: 145.52%;border: 0;appearance: auto;}
.radius-0{border-radius:0;}
.download_brocher{border-top: 1px solid #E2E2E2;margin-top: 64px;}
.intro-sec p{font-style: normal;color: #545454;font-weight: 400;font-size: 18px;line-height: 150%;}
.cp1 p{font-style: normal;font-weight: 400;font-size: 16px;line-height: 154.02%;color: #545454;}
.fs-18{font-style: normal;font-weight: 600;font-size: 18px;line-height: 22px;color: #FFFFFF;}
.btn-outline{justify-content: center; align-items: center; padding: 10px 10px; border: 1px solid #AFAFAF; margin:5px;width: 268px; border-radius:0;}
.pl-9{padding-left:9px;}
.pt-9{padding-top:9px;}
.pb-9{padding-bottom:9px;}
.pt-35{padding-top:35px;}
.pt-54{padding-top:54px;}
.pt-19{padding-top:19px;}
.pl-29{padding-left:29px;}
.pb-20{padding-bottom:20px;}
.pt-20{padding-top:20px;}
.pl-44{padding-left:44px !important;}
.pt-42{padding-top:42px !important;}
.pl-28{padding-left:28px;}
.pt-28{padding-top:28px;}
.p-0{padding:0;}
.pl-0{padding-left:0px;}
.pr-0{padding-right:0px;} 
.pl-16{padding-left:16px;} 
.pb-16{padding-bottom:16px;}
.pl-15{padding-left:15px !important;}
.pr-15{padding-right:15px;}
.pb-15{padding-bottom:15px;}
.p-20{apdding:20px;}
.m-0{margin:0;}.ml-0{margin-left:0;}.mr-0{margin-right:0;}.mb-0{margin-bottom:0;}.mt-0{margin-top:0;}
.pt-10{padding-top:10px;}.pb-10{padding-bottom:10px;}
.pb-28{padding-bottom:28px;}
.pb-32{padding-bottom:32px;} 
.pr-64{padding-right:64px;}
.pt-70{padding-top:70px;} 
.pb-70{padding-bottom:70px;}
.pb-127{padding-bottom:127px;}
.ml-15{margin-left:15px !important;}
.mr-15{margin-right:15px !important;}
.pb-20{padding-bottom:20px;}
.h-297{min-height: 297px;}
.p-48{padding:48px;}.pl-48{padding-left:48px;}.pr-48{padding-right:48px;}
.pb-48{padding-bottom:48px;}.pt-48{padding-top:48px;}
.pt-32{padding-top:32px;} 
.pr-20{padding-right:20px;}.pr-18{padding-right:18px;}
.pr-32{padding-right:32px;}.pl-32{padding-left:32px;}.pr-77{padding-right:77px;}
.pb-26{padding-bottom:32px;}
.pt-80{padding-top:80px;} .pr-80{padding-right:80px;} .pl-80{padding-left:80px;}
.pb-80{padding-bottom:80px;}
.pl-100{padding-left:100px;} 
.w-98{width: 98% !important;}
.pr-100{padding-right:100px;}
.order-first {-webkit-box-ordinal-group: 0 !important;-ms-flex-order: -1 !important;order: -1 !important;}
.order-0 {-webkit-box-ordinal-group: 1 !important;-ms-flex-order: 0 !important;order: 0 !important;}
.order-1 {-webkit-box-ordinal-group: 2 !important;-ms-flex-order: 1 !important;order: 1 !important;}
.order-2 {-webkit-box-ordinal-group: 3 !important;-ms-flex-order: 2 !important;order: 2 !important;}
.order-3 {-webkit-box-ordinal-group: 4 !important;-ms-flex-order: 3 !important;order: 3 !important;}
.order-4 {-webkit-box-ordinal-group: 5 !important;-ms-flex-order: 4 !important;order: 4 !important;}
.order-5 {-webkit-box-ordinal-group: 6 !important;-ms-flex-order: 5 !important;order: 5 !important;}
.order-last {-webkit-box-ordinal-group: 7 !important;-ms-flex-order: 6 !important;order: 6 !important;}
.intro-sec{width:55%;margin: 0 auto;display: block;float: inherit;padding-bottom: 56px;}
.br-1{border-right:1px solid #141414;}
.bt-1{border-top:1px solid #141414;}
.bb-1{border-bottom:1px solid #141414;}
.cp1{padding:20px 48px;}
.private-residence, .private-event{background: #F6F6F6;}
.private-residence p, .private-event p{font-style: normal;font-weight: 400;font-size: 18px;line-height: 28px;color: #545454;}
.private-event a.btn{font-weight: 600;font-size: 18px;line-height: 22px;padding: 12px 24px}
.amenties-container h4{font-style: normal;font-weight: 500;font-size: 36px;line-height: 130%;color: #000000;}
.amenties-container p{font-size: 16px;line-height: 150%;}
.amenties-container ul li{font-weight: 400;font-size:20px;line-height: 150%;color: #141414;padding-right: 32px;}
.align-items-center {-webkit-box-align: center !important;-ms-flex-align: center !important;align-items: center !important;}
.secure-regidence{background: #141414;}
.secure-regidence h4{font-style: normal;font-weight: 600;font-size: 46px;line-height: 58px;letter-spacing: -0.03em;color: #FFFFFF;}
.secure-regidence p{font-style: normal;font-weight: 400;font-size: 20px;line-height: 32px;letter-spacing: -0.01em;color: #CBCBCB;}
.secure-regidence label.form-label{font-style: normal;font-weight: 400;font-size: 14px;line-height: 20px;color: #FFFFFF;}
.secure-regidence .form-control{appearance: auto;border:0; border-radius:0;padding: 14px 16px;background: #333333;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;letter-spacing: -0.01em;color: #757575;}
.form-check-label, .form-check-label a{font-style: normal;font-weight: 400;font-size: 14px;line-height: 20px;color: #CBCBCB;}
#agreed{border: 1px solid #757575;border-radius: 100px;}
.footer-copy_right{font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;text-align: right;color: #545454;}
.mobile-only{display:none;}
.web-whatsapp{padding: 8px 18px;position: absolute;width: 210px;height: 36px;right: 48px;top: 32px;background: rgba(0, 0, 0, 0.4);border: 1px solid rgba(255, 255, 255, 0.35);backdrop-filter: blur(28px);border-radius: 100px;
font-style: normal;font-weight: 500;font-size: 14px;line-height: 145.52%;letter-spacing: -0.02em;color: #FFFFFF;}
@media only screen and (max-width:768px) {
.project-templete {  width: 100%;}
.h-297{min-height: auto;}.h-360{min-height:360px;}
.project-templete .mobile-align{text-align:left; padding-left:85px;}
.project-templete .mobile-align a{margin-bottom:8px;display:block;width: 80%;}
.project-templete .mobile-align br{display:none;}
.m-hide{display:none;}
.mob-section-1{padding:25px 16px;}
.mpull-left{float:left;}
.mpull-right{float:right;}
.m-logo{padding:0;}
.mobile-only{display:block;}
.ms-1_1{display: block;clear: both;}
.project-templete .heading{font-size: 36px;line-height: 44px;color: #141414;padding:56px 0 12px 0;margin-top:24px;border-top:1px solid #EEEEEE;float: left;}
.ms-1_1 p{font-size: 18px;line-height: 28px;}
.iconic-design .form-control{max-width: 100%;}
.mp-0{padding:0;}.mm-0{margin:0;}
.mw-100{width:100%;}
.intro-sec {width: 100%;display: block;float: inherit;padding-bottom: 48px;padding-top: 65px;padding-left:16px; padding-right:16px;}
.project-templete .heading2{font-size: 36px;line-height: 120%;text-align: left;padding-bottom: 12px;}
.intro-sec p{text-align:left;}.mpt-28{padding-top:28px;}.mpb-24{padding-bottom:24px;}
.mpl-0{padding-left:0;}.m-center{text-align:center;}
.mh-358{height: 358px;}.mpl-16{padding-left:16px;}.mpr-16{padding-right:16px;}.mpb-16{padding-bottom:16px;}
.mp-56{padding:56px 16px;}.mpt-56{padding:56px 0 0 0;}.mpt-48{padding-top:48px;}.mpt-32{padding-top:32px;}
.br-1{border-right:0px; border-bottom:1px solid #141414;padding-bottom:48px;}
.project-templete .read-more-link{padding-bottom: 32px;display: block;}
.private-residence{padding:56px 18px;}
.private-residence p, .private-event p {font-size: 16px;line-height: 24px;}
.private-residence .read-more-link, .private-event .read-more-link{display: initial;}
.mbtn-group{padding-top:20px; padding-bottom:36px;}
.mbtn-group .btn-outline{width:100%;margin-left:0; margin-right:0;}
.private-event{padding:0px 16px;}.w-98 {width:100% !important;}
.private-event h4{font-size: 36px;line-height: 48px;padding-right: 26px;text-align: left;}
.private-event p{padding:0;}
.secure-regidence h4{font-size: 36px;line-height: 44px;}
}
@media (min-width: 768px){
.order-md-first {-webkit-box-ordinal-group: 0 !important;-ms-flex-order: -1 !important;order: -1 !important;}
  .order-md-0 {-webkit-box-ordinal-group: 1 !important;-ms-flex-order: 0 !important;order: 0 !important;}
  .order-md-1 {-webkit-box-ordinal-group: 2 !important;-ms-flex-order: 1 !important;order: 1 !important;}
  .order-md-2 {-webkit-box-ordinal-group: 3 !important;-ms-flex-order: 2 !important;order: 2 !important;}
  .order-md-3 {-webkit-box-ordinal-group: 4 !important;-ms-flex-order: 3 !important;order: 3 !important;}
  .order-md-4 {-webkit-box-ordinal-group: 5 !important;-ms-flex-order: 4 !important;order: 4 !important;}
  .order-md-5 {-webkit-box-ordinal-group: 6 !important;-ms-flex-order: 5 !important;order: 5 !important;}
  .order-md-last {-webkit-box-ordinal-group: 7 !important;-ms-flex-order: 6 !important;order: 6 !important;}
}
@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait) {
.tpr-9{padding-right:9px;}
.tab_hide{display:none !important;}
.tab_show{display:block !important;}
.project-templete .heading{margin-top: 0;border-top:0px;}
.h-527{min-height:527px;}
.tab-video{display:block !important; padding:48px 28px !important;}
.project-templete .heading2{text-align:center;}
.cp1 {padding: 20px 0px !important;}
.mbtn-group .btn-outline {width: 46%;margin: 5px !important;}
.tb-1{padding-bottom:6px !important;}
.tb-3, .tb-5{padding-right: 6px !important;padding-top:6px !important;padding-bottom:6px !important;}
.tb-4, .tb-6{padding-left: 6px !important;padding-top:6px !important;padding-bottom:6px !important;}
.tpl-19{padding-left:19px !important;}
.tpr-19{padding-right:19px !important;}
.tpl-28{padding-left:28px !important;}.tpr-28{padding-right:28px !important;}
.h-782{height: 782px !important;width: fit-content !important;}
.tw-45{width: 45%;}
.tw-100{width: 94% !important;}
}
@media all and (device-width:1024px) and (device-height:768px) and (orientation:landscape) {}